/* Header.css */

header {
    
    color: #fff;
    padding: 1rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .logo {
    
    
    max-width: 100%; /* Ensure the logo doesn't exceed its original size */
    height: auto; /* Maintain the aspect ratio */
   /* Remove any default inline behavior */
    margin: 0 auto; /* Center the logo horizontally */
    width: 100rem; /* Set your desired width */
    max-height: 150px;
  }
  
  h1 {
    
    margin: 0;
  }
  